body {
    font-family: "segoeUI", sans-serif;
    color: #444444;
    overflow-x: hidden;
  }
  
  a {
    color: #47b2e4;
    text-decoration: none;
  }
  
  a:hover {
    color: #73c5eb;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Ebrima", sans-serif;
    letter-spacing: 1px;
  }

  p {
    font-size: 1.6rem;
    letter-spacing: 1.48px;
    line-height: 1.42;
  }
  
  h1 {
    line-height: 1.44;
    letter-spacing: 2.05px;
    font-size: 66px;
  }

  h3 {
    font-size: 40px;
    line-height: 1.88;
    letter-spacing: 1.52px;
  }

  .mr-auto {
    margin-right: auto;
  }

  
  #header {
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 32px;
  }
  
  #header.header-scrolled, #header.header-inner-pages {
    background: rgba(40, 58, 90, 0.9);
  }
  
  #header .logo {
    font-size: 40px;
    margin-left: 0.5rem;
    padding: 0;
    line-height: 0.93;
    font-weight: bold;
    letter-spacing: 3.32px;
    text-transform: uppercase;
  }
  
  #header .logo a {
    color: #fff;
  }
  
  .navbar {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
    padding: 10px 32.5px;
  }
  
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-family: "Ebrima", sans-serif !important;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    letter-spacing: 1px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
    white-space: nowrap;
    transition: 0.3s;
    padding: 0;
  }

  .navbar a:hover {
    border-color: rgba(255, 255, 255, 0.8);
  }
  
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #fff;
  }

  .navbar .active {
    font-weight: 600;
  }
  
  #header .sign-in {
    padding: 14px 17px 14px 29px;
    opacity: 0.98;
    display: inline-block;
    letter-spacing: 1.28px;
    font-family: "Tahoma", sans-serif;
    border-radius: 37px;
    background-color: rgba(255, 255, 255, 0.4);
    transition: ease-in 0.4s;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
  }
  
  #header .sign-in:hover {
    color: rgba(40, 58, 90);
    background: #ffffff;
  }

  #header .navbar-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #header .mobile-nav-icon {
    font-size: 30px;
    margin-left: 1rem;
    padding: 0.5rem;
    color: #fff;
    border: none;
    background-color: inherit;
    display: none;
  }

  
  #hero {
      position: relative;
      width: 100%;
      padding: 211px 0 0 0;
  }

  #hero .col-lg-6 {
    margin-left: auto;
  }

  #hero:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      top: 0;
      opacity: 0.8;
      bottom: 0;
      background: linear-gradient(90deg, #f700ff, #82009a, #7b0098, #001eb4, #003274);
      clip-path: polygon(100% 0%, 0% 0%, 0% 90%, 100% 47%);
  }

#hero .hero-intro {
  max-width: 900px;
}

#hero .free-trial {
  padding: 12px 3rem;
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 3rem;
  font-family: "Tahoma", sans-serif;
  display: inline-block;
  border-radius: 50px;
  line-height: 1.37;
  letter-spacing: 2.24px;
  color: rgba(255, 255, 255, 0.82);
  background-color: rgb(0,0,0,0.2);
  transition: 0.4s ease-in; 
  -webkit-backdrop-filter: blur(49px);
  backdrop-filter: blur(49px);
}

#hero .free-trial:hover {
  color: #9445a4;
  background-color: #ffffff;
}

#hero .free-trial i {
  padding-left: 2.5rem;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-weight: 600;
  color: #fff;
  margin-bottom: 4rem;
  text-transform: capitalize;
}

#hero .getstarted {
  display: flex;
  padding: 9px 10px;
  align-items: center;
  justify-content: space-between;
  max-width: 618px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 28px;
  transition: ease-in 0.3s;
  position: relative;
  margin-bottom: 3rem;  
  -webkit-backdrop-filter: blur(42px);
  backdrop-filter: blur(42px);
}

#hero .getstarted .at-icon{
  padding: 0 12px;
  font-size: 32px;
  opacity: 0.77;
  color: #fff;
  position: relative;
}

#hero .getstarted input {
  background-color: transparent;
  border: none;
  height: 100%;
  color: #fff;
  font-family: "SegoeUI", sans-serif;
  width: 100%;
  display: block;
  padding: 8px 9px;
  padding-left: 15px;
  font-size: 1.6rem;
  position: relative;
}

#hero .getstarted input:focus {
  outline: none;
}

#hero .getstarted input::placeholder {
  color: #fff;
}

#hero .getstarted button {
  display: block;
  border: none; 
  box-shadow: 0 1px 18px 0 rgba(54, 54, 54, 0.16);
  background-color: #4c56ce;
  transition: 0.3s ease-in;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 14px;
  white-space: nowrap;
  padding: 14px;
  position: relative;
}

#hero .getstarted button:hover {
  background-color: #2636e2;
}

#hero p {
  color: rgba(0, 0, 0, 0.6);
  max-width: 740px;
  
}

.img-fluid {   
  position: relative;
  right: 0;
  display: block;
  margin-left: auto;
  top: 0;
  max-width: 115%;
}

.img-fluid-1 {   
  position: absolute;
  left: -35px;
  width: 60%;
  bottom: -36px;
}

.img-fluid-2 {   
  position: absolute;
  left: -80px;
  top: 52%;
  width: 36%;
}


.features-trial {
  padding-bottom: 1rem;
  padding-top: 10rem;
}

.features-trial .feature-trial-point {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.features-trial .feature-trial-point i {
  font-size: 58px;
  width: 58px;
  height: 58px;
  text-align: center;
  line-height: 58px;
  background-color: #f8f8f8;
  border-radius: 50px;
  color: #10ae43;
}

.features-trial .feature-trial-point h3 {
  margin-bottom: 0;
  color: #3980da;
  letter-spacing: 0.68px;
  margin-left: 1rem;
}

.our-services {
  padding: 3rem 0;
  padding-bottom: 10rem;
}

.our-services h1 {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 3.1px;
  color: #2c2c2c;
  margin-bottom: 3rem;
}

.our-services .service-card {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  position: relative;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 0 12px 4px rgb(0,0,0,0.05);
}

.our-services .service-card .border-dot {
  border: 1px dashed #ccc;
  border-radius: 8px;
}

.our-services .service-card .img-pixel-box {
  width: 100%;
  height: 200px;
  margin-bottom: auto;
  position: relative;
  display: flex;
}

.our-services .service-card .img-pixel-box img {
  width: 40%;
  position: relative;
  margin: auto;
  max-height: 100px;
  object-fit: contain;
  z-index: 99;
}

.our-services .service-card .img-pixel-box::before, .our-services .service-card .img-pixel-box::after {
  content: '';
  position: absolute;
  background-color: hsla(289, 41%, 78%, 0.2);
  left: -0.6rem;
  top: -0.6rem;
  width: 85%;
  height: 85%;
  border-radius: 0 0 20px 0;
}

.our-services .service-card .img-pixel-box::after {
  left: auto;
  right: -0.6rem;
  top: auto;
  bottom: -0.6rem;
  border-radius: 20px 0 0 20px;
}

.our-services .service-card .service-details {
  padding: 2rem 1rem 1rem 1.5rem;
  color: #3980da;
}

.our-services .service-card .header-service {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #e300ee;
}

.our-services .service-card p {
  font-size: 20px;
  max-width: 240px;
}

.our-services .service-card .learn-more {
  border: none;
  position: absolute;
  font-size: 1.5rem;
  border-radius: 15px;
  background: linear-gradient(90deg, #e300ee, #720077);
  padding: 1rem 1.5rem;
  color: #fff;
  box-shadow: 0 3px 27px 0 #ecc4ec;
  bottom: -1rem;
  right: -1rem;
}

.our-services .service-card i {
  font-size: 21px;
}

.section-intro {
  margin: auto;
  padding-left: 3rem;
}

.section-intro .section-heading {
  font-size: 120px;
  font-weight: 700;
}

.section-intro .section-minor-heading {
  font-size: 44px;
  font-family: "SegoeUI", sans-serif;
  font-weight: 600;
  line-height: 1.7;
  letter-spacing: 2.9px;
  margin-bottom: 3rem;
}

.section-intro h3 {
  font-weight: 500;
  font-size: 40px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.hr-section {
  margin-top: 4rem;
  padding: 6rem 0;
  padding-bottom: 0;
  background-color: #f4fbfd;
  position: relative;
}

.hr-section::before {
  position: absolute;
  content: '';
  background: rgba(214, 242, 251, 0.5);
  width: 50%;
  height: 98px;
  right: 0;
  transform: translateY(-50%);
  top: 0;
}

.hr-section .section-intro .section-heading {
  color: #2e598e;
}

.hr-section .section-intro .section-minor-heading {
  color: #808384;
}

.hr-section .section-intro h3 {
  color: #aaaaaa;
}

.hr-section .img-component-1 {
  width: 100%;
}

.hr-section .img-component-2 {
  width: 90%;
}

.hr-section .img-component-3 {
  width: 100%;
}

.payroll-section {
  padding: 3rem 0;
  background-color: #003171;
  color: #fff;
}

.payroll-section_before {
  height: 10vw;
  position: relative;
  background-color: #f4fbfd;
}

.payroll-section_before::before {
  content: '';
  background-color: #003171;
  position: absolute;
  transform: translateY(1px);
  top: 0;
  width: 100%;
  height: 10vw;
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.payroll-section .section-minor-heading {
 color: rgba(255, 255, 255, 0.9);
}

.payroll-section .section-intro h3 {
  color: rgba(255, 255, 255, 0.6);
}

.payroll-section .img-component-1 {
  width: 75%;
}

.payroll-section .img-component-2 {
  width: 100%;
}

.payroll-detail-section{
  padding-top: 2rem;
  overflow: hidden;
}

.payroll-detail-section .circle-img-relative {
  position: relative;
}

.payroll-detail-section .pixeltrue-payment {
  width: 100%;
  position: relative;
}

.payroll-detail-section .circle-img-relative::before {
  border-radius: 50%;
  width: 140%;
  height: 140%;
  border: 40px solid rgba(255, 255, 255, 0.4);
  position: absolute;
  content: '';
  left: -20%;
  right: 0;
  top: -40%;
  bottom: 0;
  background: rgba(0, 30, 179, 0.3);
}

.payroll-detail-section .payroll-points {
  padding: 1.5rem;
  display: flex;
  align-items: center;
}

.payroll-detail-section .star-shape-checkmark {
  width: 100px;
  display: inline-block;
}

.payroll-detail-section .payroll-points h3 {
  margin: 0;
  padding-left: 1rem;
  color: #003171;
  line-height: 1.5;
}

.insurance-section_before {
  height: 10vw;
  position: relative;
  background-color: #fff;
}

.insurance-section_before::after {
  position: absolute;
  content: '';
  height: 60px;
  top: 0px;
  right: 0;
  width: 50%;
  transform: rotate(-6deg) translateY(6px);
  background: rgba(214, 242, 251, 0.5);
}

.insurance-section_before::before {
  content: '';
  background-color: #f4fbfd;
  position: absolute;
  transform: translateY(1px);
  top: 0;
  width: 100%;
  height: 10vw;
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}

.insurance-section {
  padding: 3rem 0;
  background: #f4fbfd;

}

.insurance-section .section-intro .section-heading {
  color: #003274;
}

.insurance-section .section-intro .section-minor-heading {
  color: #000;
}

.insurance-section .section-intro p {
  max-width: 500px;
  font-weight: 500;
}

.insurance-section .img-component-1 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.features-subscription {
  padding-top: 2rem;
}

.features-subscription .row {
  align-items: flex-end;
}

.features-subscription .feature-pill {
  background: linear-gradient(180deg, #e300ee, #720077);
  bottom: 0;
  padding: 30rem 1rem 10rem 1rem;
  color: #fff;
  max-width: 370px;
  display: block;
  margin: auto;
  border-radius: 200px 200px 0 0;
}

.features-subscription .pill-1 {
  padding-bottom: 6rem;
}

.features-subscription .pill-2 {
  padding-bottom: 12rem;
}

.features-subscription .pill-3 {
  padding-bottom: 18rem;
}

.feature-pill p {
  transform: rotate(-7deg);
  text-align: center;
  margin-top: auto;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1.63px;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

.benefits-section_before {
  position: relative;
  background-color: transparent;
}

.benefits-section_before::before {
  content: '';
  background-color: #003171;
  position: absolute;
  transform: translateY(1px);
  top: -20vw;
  width: 100%;
  height: 20vw;
  clip-path: polygon(100% 10%, 0% 100%, 100% 100%);
}

.benefits-section {
  background-color: #003171;
  color: #fff;
}

.benefits-section .section-heading {
  margin-bottom: 1rem;
  padding-top: 4rem;
}

.benefits-section .section-intro .section-minor-heading {
  color: rgba(255, 255, 255, 0.73);
  max-width: 650px;
}

.benefits-section .img-component-1 {
  width: 100%;
}

.benefits-section .img-component-2 {
  width: 100%;
}

.benefits-section .img-component-3 {
  width: 100%;
}

.benefits-section_after {
  height: 0;
  position: relative;
  background-color: #fff;
}

.benefits-section_after::after {
  position: absolute;
  content: '';
  height: 20px;
  top: -6vw;
  right: -10px;
  width: 105%;
  transform: rotate(-6deg) translateY(6px);
  background: linear-gradient(90deg, #f700ff, #82009a, #7b0098, #001eb4, #003274);
}

.benefits-section_after::before {
  content: '';
  background-color: #fbfbfb;
  position: absolute;
  transform: translateY(1px);
  top: -10vw;
  width: 100%;
  height: 10vw;
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
}
.hr-features {
  padding-bottom: 4rem;
  background-color: #fbfbfb;
}

.hr-features .section-intro {
  text-align: center;
  max-width: 1050px;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}

.hr-features .section-intro .section-heading {
  color: #01295e;
  font-size: 66px;
  margin-bottom: 0;
}

.hr-features .section-intro h3 {
  margin-top: auto;
  letter-spacing: 2.9px;
}

.hr-features .hr-point-features {
  list-style-type: none;
  padding: 0;
}

.hr-features .hr-point-features li span {
  padding: 0.5rem;
  background: linear-gradient(90deg, #d6f2fb, #ffffff);
  font-size: 44px;
  letter-spacing: 5px;
  color: #3b3b3b;
  line-height: 1.7;
  margin-bottom: 3rem;
  display: inline-block;
}

.hr-features .img-component-1 {
  width: 100%;
}

.getting-started-section {
  padding: 3rem 0; 
  overflow: hidden;
}

.getting-started-section_before {
  height: 0;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.getting-started-section_before::after {
  position: absolute;
  content: '';
  height: 20px;
  top: -6vw;
  right: -10px;
  width: 105%;
  transform: rotate(-6deg) translateY(6px);
  background: linear-gradient(90deg, #f700ff, #82009a, #7b0098, #001eb4, #003274);
}

.getting-started-section_before::before {
  content: '';
  background-color: #fbfbfb;
  position: absolute;
  transform: translateY(-1px);
  top: -3vw;
  width: 100%;
  height: 10vw;
  clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}

.getting-started-section .section-intro {
  padding: 3rem 0 9rem 0;
  max-width: 524px;
  position: relative;
  text-align: center;
  margin-right: auto;
  margin-left: 0;
}

.getting-started-section .section-intro::before {
  width: 220%;
  height: 160%;
  top: -55%;
  left: -100%;
  transform: rotateZ(-22deg);
  border-radius: 59px;
  border: 70px solid rgba(255, 255, 255, 0.6);
  position: absolute;
  content: '';
  background-color: rgb(203, 0, 214, 0.19);
}

.getting-started-section .section-heading {
  font-size: 68px;
  font-weight: 600;
  position: relative;
  color: #003171;
}

.getting-started-section .section-minor-heading {
  font-size: 63px;  
  line-height: 1.57;
  letter-spacing: 4.16px;
  font-weight: 500;
  color: #4b4b4b;
  position: relative;
}

.getting-started-section .img-component-1 {
  width: 100%;
  margin-left: auto;
  display: block;
}

.getting-started-section .getting-started {
  position: relative;
  max-width: 548px;
  margin-left: auto;
}

.getting-started-section .getstarted-btn {
  content: '';
  color: #fff;
  font-family: "Ebrima" ,sans-serif;
  padding: 1.7rem 3rem;
  font-size: 55px;
  position: absolute;
  bottom: -1rem;
  left: -2rem;
  background: linear-gradient(90deg, #e300ee, #720077) ;
  border: none;
  border-radius: 12px;
}

.client-testimonals {
  padding: 3rem 0;
  background-color: #d6f2fb;
}

.client-testimonals .section-heading {
  color: #003171;
  font-size: 84px;
}

.client-testimonals .slide-container {
  padding: 0 4rem;
  position: relative;
}

.client-testimonals .slide-left, .client-testimonals .slide-right {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 1.6rem;
  border-radius: 10px;
  color: #000;
  top: 50%;
  transform: translateY(-50%);
  left: -1rem;
  position: absolute;
  border: none;
}

.client-testimonals .slide-right {
  left: auto;
  right: -1rem;
}

.client-testimonals .slide-desc {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 3rem 4rem 4rem 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #003171;
  font-size: 40px;  
  line-height: 1.55;
  letter-spacing: 1.68px;
}

.client-testimonals .slide-desc p {
  font-size: 40px;
}

.client-testimonals .slide-desc b {
  font-size: 36px;
}

.client-testimonals .slide-desc small {
  font-size: 29px;
}

.client-testimonals .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffbf51;
}

footer {
  padding: 3rem 0;
  font-size: 31px;
  line-height: 2.13;
  letter-spacing: 2.57px
}

footer h4 {
  font-size: 33px;
  font-weight: 700;
  font-family: "Tahoma", sans-serif;
}

footer .nav-link {
  padding-left: 0;
  font-size: 31px;
  color: #444;
}



@media only screen and (max-width: 1920px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1640px;
  }
  }
  
  @media (max-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
    
    h1 {
      font-size: 53px;
    }
  
    h3 {
      font-size: 30px;
    }
  
    #header .logo {
      font-size: 30px;
    }
    #header .navbar a, .navbar a:focus {
      font-size: 19px;
    }
  
    #header .navbar li {
      padding: 10px 27px;
    }
    
    #header .sign-in {
      padding: 10px 13px 10px 22px;
      font-size: 19px;
    }
  
    #hero {
      padding-top: 160px;
    }
  
    #hero:before {
      clip-path: polygon(100% 0%, 0% 0%, 0% 90%, 100% 50%);
    }
  
    #hero .free-trial {
      padding: 8px 2rem;
      font-size: 21px;
      margin-bottom: 2.5rem;
    }
  
    #hero h1 {
      margin-bottom: 3rem;
    }
  
    #hero p {
      max-width: 600px;
      font-size: 1.3rem;
    }
  
    #hero .hero-intro {
      max-width: 700px;
    }
    #hero .getstarted {
      max-width: 500px;
      padding: 7px;
      border-radius: 14px;
    }
  
    #hero .getstarted input::placeholder {
      font-size: 1.3rem;
    }
  
    #hero .getstarted button {
      font-size: 1.2rem;
      padding: 12px;
      border-radius: 12px;
    }
  
    #hero .img-fluid {
      right: 40px;
    }
  
    #hero .img-fluid-1 {
      left: -70px;
    }
  
    #hero .img-fluid-2 {
      left: -120px;
    }
    
    .our-services h1 {
      font-size: 78px;
    }
  
    .our-services .service-card {
      max-width: 280px;
    }
  
    .our-services .service-card .header-service {
      font-size: 30px;
    }
  
    .our-services .service-card p {
      font-size: 14px;
    }
  
    .our-services .service-card .learn-more {
    font-size: 21px;
    border-radius: 15px;
    padding: 1rem 1.5rem;
    }
    
    .section-intro .section-heading {
      font-size: 80px;
    }
  
    .section-intro .section-minor-heading {
      font-size: 32px;
    }
  
    .section-intro h3 {
      font-size: 30px;
    }
  
    .payroll-detail-section .payroll-points {
      padding: 1.5rem;
    }
    
    .payroll-detail-section .star-shape-checkmark {
      width: 60px;
    }
    
    .payroll-detail-section .payroll-points h4 {
      padding-left: 1rem;
      font-size: 25px;
    }
  
    .insurance-section .img-component-1 {
      max-width: 550px;
      display: block;
    }
  
    .features-subscription .feature-pill {
      padding: 11rem 1rem 5rem 1rem;
      max-width: 250px;
    }
  
  .features-subscription .pill-2 {
    padding-bottom: 10rem;
  }
  
  .features-subscription .pill-3 {
    padding-bottom: 15rem;
  }
  
  .feature-pill p {
    font-size: 24px;
  }
  
  .benefits-section .img-component-2 {
    max-width: 470px;
  }
  
  .benefits-section .img-component-3 {
    max-width: 470px;
  }
  
  .hr-features .section-intro {
    max-width: 700px;
  }
  
  .hr-features .section-intro .section-heading {
    font-size: 45px;
  }
  
  .hr-features .section-intro  h3 {
    font-size: 21px;
  }
  
  .hr-features .hr-point-features li span {
    margin-bottom: 2rem;
    font-size: 30px;
  }
  
  .getting-started-section .section-intro {
    padding: 3rem 0 9rem 0;
    max-width: 300px;
  }
  
  .getting-started-section .section-intro::before {    
    width: 260%;
    height: 164%;
    top: -65%;
    left: -132%;
    border-radius: 40px;
  }
  
  .getting-started-section .section-heading {
    font-size: 35px;
  }
  
  .getting-started-section .section-minor-heading {
    font-size: 33px;
  }
  
  .getting-started-section .img-component-1 {
    max-width: 400px;
  }
  
  .getting-started-section .getting-started {
    max-width: 400px;
  }
  
  
  .getting-started-section .getstarted-btn {
    padding: 1rem 2rem;
    font-size: 25px;
  }
  
  .client-testimonals .slide-desc {
    font-size: 21px;
  }
  
  
  .client-testimonals .section-heading {
    font-size: 66px;
  }
  
  .client-testimonals .slide-desc p, .client-testimonals .slide-desc b , .client-testimonals .slide-desc small {
    font-size: 21px;
  }
  
  .client-testimonals .slide-desc small {
    font-size: 19px;
  }
  
  footer .nav-link {
    font-size: 21px;
  }
  
  footer h4 {
    font-size: 24px;
  }
  
  }

@media only screen and (max-width: 1400px) {
  
  #hero h1 {
    font-size: 35px;
    line-height: 45px;
  }

  #hero .col-lg-6 {
    margin: auto;
  }

  #hero:before {
    clip-path: polygon(100% 0%, 0% 0%, 0% 80%, 100% 50%) !important;
}

}

@media only screen and (max-width:1300px) {
  

  #header {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #header .navbar {
    display: none;
  }

  #header .navbar-right .mobile-nav-icon {
    display: block;
  }

  #header .container.responsive {
    position: relative;
  }

  #header .container.responsive .navbar-right {
    position: absolute;
    right: 2rem;
    top: 0;
  }

  #header .container.responsive .navbar {
    display: block;
  }

  #header .container.responsive .navbar {
    background-color: rgb(0, 50, 116);
  }

  #header .container.responsive .navbar ul li a {
    float: none;
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 2rem;
    text-align: left;
  }
  .resp {
    background: rgb(0, 50, 116);
  }
  .resp ul {
    display: block;
    position: fixed;
    background: rgb(0, 50, 116);
    width: 100%;
    top: 90px;
    left: 0px;
  }
  .resp #navbar {
    display: contents;
  }
  .resp ul li {
    align-items: center;
  }
}

@media only screen and (max-width: 1200px) {
  #hero .free-trial {
    font-size: 17px;
    padding: 8px 1.5rem;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 45px;
  }

  #hero .getstarted {
    max-width: 400px;
  }

  #hero .hero-intro {
    margin-right: auto;
    padding-top: 0;
  }

  .section-intro .section-heading {
    font-size: 60px !important;
  }

  .section-intro .section-minor-heading {
    font-size: 24px !important;
    margin-bottom: 0 !important;
  }

  .section-intro h3 {
    font-size: 21px !important;
    margin: 1rem 0 !important;
  }

  .our-services .service-card .header-service {
    font-size: 28px !important;
  }

  .section-intro p {
    font-size: 21px;
  }

  .payroll-detail-section .payroll-points .star-shape-checkmark {
    width: 40px;
  }
  
  .payroll-detail-section .payroll-points {
    margin: auto;
    padding: 0;
    padding-left: 2rem !important;
    padding-bottom: 1rem !important;
  }


}

@media only screen and (max-width: 992px) {


  #hero .row {
    flex-direction: column-reverse;
  }

  #hero::before {
    clip-path: polygon(100% 0%, 0% 0%, 0% 90%, 100% 75%) !important;
  }

  #hero .getstarted input::placeholder {
    font-size: 16px;
  }

  #hero .hero-intro {
    max-width: 900px;
    margin: auto;
  }

  #hero h1 {
    max-width: 700px;
  }
  
  #hero .free-trial {
    padding: 8px 1rem !important;
    font-size: 16px !important;
    margin-bottom: 1.5rem !important;
  }

  #hero .img-fluid {
    width: auto;
    right: -26px !important;
    max-height: 80vh;
  }

  #hero .img-fluid-1 {
    width: 40%;
    left: 160px !important;
    bottom: -30px;
  }
  #hero .img-fluid-2 {
    width: 28%;
    left: 100px !important;
    top: auto;
    bottom: 20%;
  }


  .features-subscription .feature-pill {
    padding-top: 8rem;
  }

  .features-subscription .feature-pill p {
    font-size: 21px;
  }

  .our-services h1 {
    font-size: 40px !important;
    padding: 1rem 2rem;
  }

  .hr-features .row {
    flex-direction: column-reverse;
  }

  .hr-features {
    padding-top: 2rem;
  }

  .hr-features .img-component-1 {
    max-width: 300px;
    margin: auto;
    display: block;
  }

  .hr-features .hr-point-features {
    max-width: 300px;
    margin: auto;
  }

  .hr-features .hr-point-features li span {
    font-size: 21px;
  }


} 



@media only screen and (max-width: 768px) {
  
  
  #hero .img-fluid {
    width: auto;
    right: -26px !important;
    max-height: 80vh;
  }

  #hero .img-fluid-1 {
    width: 40%;
    left: 80px !important;
    bottom: -30px;
  }
  #hero .img-fluid-2 {
    width: 28%;
    left: 0 !important;
    top: auto;
    bottom: 20%;
  }
  
  .features-subscription .feature-pill p {
    transform: none;
    font-size: 14px;
  }

  .features-subscription .pill-1 {
    padding-bottom: 2rem !important;
}

.features-subscription .pill-2 {
  padding-bottom: 4rem !important;
}

.features-subscription .pill-3 {
  padding-bottom: 6rem !important;
}

  .features-trial .feature-trial-point {
    padding: 0 2rem 0 2rem;
    justify-content: left;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  #hero .hero-intro {
    max-width: 680px;
    margin: auto;
    padding: 0 40px 0 40px;
  }

  #hero h1 {
    max-width: 400px;
  }
  .features-trial .feature-trial-point h3 {
    line-height: 1.5;
  }

  .section-intro {
    padding-left: 1rem;
  }

  .section-intro h4 {
    font-size: 27px;
  }

  .section-intro p {
    font-size: 21px;
  }

  .client-testimonals .section-intro h1 {
    font-size: 34px;
  }

  .getting-started-section .section-intro {
    padding-bottom: 0;
  }

  .getting-started-section .section-intro .section-minor-heading {
    font-size: 24px;
    line-height: 40px;
  }
  .getting-started-section .section-intro::before {
    top: -40%;
    height: 175%;
    left: -75%;
  }

  .getting-started-section .getstarted-btn {
    left: 50%;
    transform: translateX(-50%);
  }

  .getting-started-section .getting-started .img-component-1 {
    max-width: 300px;
  }
  
  .getting-started-section .section-heading {
    font-size: 24px !important;
}

}

@media only screen and (max-width: 576px) {
  #hero::before {
    clip-path: polygon(100% 0%, 0% 0%, 0% 83%, 100% 75%);
  }

  .benefits-section_after::after {
    top: -9vw;
  }

  
}